*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;

}
.conteinar{
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 165vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 30px 100px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}
nav ul li:hover{
    color: white;
    background-color:#ff8f0e8f;
    transition: 0.5s;
    border-radius: 5px;
}
/*------------------
 start header part section 
 -------------------*/
 .header-section{
  text-align: center;
 }
.header-tilte{
    font-weight: 900;
    font-size: 26px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.header-section-details{
    color: #727272;
    font-size: 14px;
    font-weight: 400px;
}

.header-section-btn{
    margin-top: 30px;
}

.header-section-btn button{
    width: 150px;
    height: 54px;
    background-color: darkorange;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 6px;
}
 .header-section-image img{
    width: 1010px;
    height: 510px;
    margin-top: 100px;
 }

 /* ==================
 header -section-end 
 ---------------------*/
.Features-conteinar{
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: center;
    gap: 40px;
}

.images-conteinar{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 10px;
}
.image img{
    width: 200px;
    height: 200px;
}

.span-1{
font-size: 30px;
font-weight: 900;
color: #727272;
}
.span-2{
    color: #131313;
    font-size: 30px;
    font-weight: 900;
}
.span-3{
    color: #FF900E;
    font-weight: 900;
    font-size: 30px;
}

.Features-banner-details{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #727272;
    font-size: 14px;
}

.btn{
    width: 110px;
    height: 35px;
    background-color: #fe8800;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 700;
}
/*---------------------
 Features-conteinar-end
 ---------------------- */

 .Experience-conteinar{
    display: flex;
    gap: 30px;
    width: 85%;
    height: 800px;
    margin: auto;
    margin-top: 70px;
 }
 .Experience-banner, .Facts-conteinar, .Sponspors-details{
    font-size: 12px;
    color: #727272;
 }
 .Experience-banner-main-title{
    margin-bottom: 20px;
 }
 .Experience-banner-main-title h1{
    margin-left: 10px;
    margin-bottom: 15px;
    font-size: 28px;
    font-weight: 900;
 }

.side-line{
    width: 3px;
    height: 70px;
    position: absolute;
    background-color: #fe8800;
    display: flex;
    flex-direction: column;
}

.Experience-information{
    width: 100%;
    height: 145px;
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.Experience-information:hover{
   background-color: #fe87009c;
   color: red;
   transition: 0.5s;
}
#Experience-information-data{
    padding: 30px;
    column-gap: 10px;
}
#Experience-information-data h4{
    margin-bottom: 10px;
    color: #131313;
    font-weight: 900;
}
.Experience-image{
    width: 800px;
    height: 100%;
 }

 #architect-image{
    width: 570px;
    height: 750px;
  margin-left: 50px;
 }
 .Experience-btn{
    width: 200px;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 20px;
    background-color: #FF900E;
    position: relative;
    bottom: 60px;
    right: 0px;
    border-radius: 5px;
 }
 /*====================
  Experience-conteinar end
  ===================== */
 .Facts-conteinar{
    width: 80%;
    height: 100px;
    margin: auto;
    margin-top: 80px;
 }
 .Facts-conteinar h2{
    color: #131313;
    font-size: 25px;
    font-weight: 900;
    padding-bottom: 15px;
 }

 /* Facts-conteinar end */
 .project-point-deta{
    display: flex;
    gap: 85px;
    margin-top: 80px;
    justify-content: center;
 }

 .box-conteinar{
    width: 150.83px;
    height: 150px;
    border: 1px solid #FF900E;
    border-radius: 8px;
 }
 .box-deta{
    text-align: center;
    margin: 30px auto;
 }
 .icon img{
    width: 22px;
    height: 22px;
 }
 .point{
    font-size: 30px;
    font-weight: 900;
    color: #424242;
 }
 .name p{
    font-size: 12px;
    color: #727272;
    font-weight: 700;
 }
 .box-conteinar:hover{
    background-color: #ff8f0ecb;
    transition: 0.5s;
    box-shadow: 7px 7px 3px #727272b2;
 }
 /* project point deta end */

 .Sponspors-conteinar{
    margin-top: 70px;
    margin-bottom: 30px;
 }
 .Sponspors-details{
    text-align: center;
 }
 .Sponspors-details h1{
    font-size: 27px;
    font-weight: 900;
    color: #131313;
 }
 
 .best-web-conteinar{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 100px;
 }

.web-content img{
    width: 200px;
    height: 40px;
    padding: 0px 40px;
    filter: grayscale(1);
}
/* ==================
Sponspors-conteinar end
------------------------ */
.footer{
    width: 80%;
    height: 60px;
    background: #FFF4E7;
    margin: auto;
}
.footer p{
    text-align: center;
    padding-top: 25px;
    font-size: 14px;
    color: #424242;
    font-weight: 700;
}
.footer-logo{
    text-align: center;
    margin: 80px auto;
    filter: grayscale(1);
}
/*---==============
 footer part end 
 ---===============*/